<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Timer</title>
</head>
<body>
    <div class="header"><h1 class="header__logo">Timer</h1></div>
    <a href="{{ url_for('home') }}">Back to home</a>
   
    <main class="main"><h2 class="heading">Setup</h2>
    

    <form class="form" method="post">
    <label class="form__label" for="excercise"> Excercise:</label>
    <input class="form__input" type="number" name="excercise" id="excercise" value="4">
    <span class="unit">(Seconds)</span>

    <label class="form__label" for="Rest"> Rest:</label>
    <input class="form__input" type="number" name="rest" id="rest" value="2">
    <span class="unit">(Seconds)</span>    

    <label class="form__label" for="Sets"> Sets:</label>
    <input class="form__input" type="number" name="sets" id="sets" value="2">
    <span class="unit">(Seconds)</span>

    <div class="form__button-container">
    <button class="button" type="submit">Start!</button>

    </form>
    </main>
</body>
</html>