{% extends 'header.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
</head>
<body>
    
    
    <main class="main"><h2 class="heading">Rest</h2>
    <span class="timer" id="timer">{{ rest_formatted }}</span>
    <progress max={{ rest }} value={{ rest }} class="progress progress--rest" id="progressBar"></progress>
    
    
    </main>

    <script>        
    const timerElement = document.getElementById("timer");
    const progressBar = document.getElementById("progressBar");


    let timerCounter = progressBar.max;

        var secondsToHMS = (secs) => {
    var sec_num = parseInt(secs, 10)
    var hours   = Math.floor(sec_num / 3600)
    var minutes = Math.floor(sec_num / 60) % 60
    var seconds = sec_num % 60

    return [hours,minutes,seconds]
        .map(v => v < 10 ? "0" + v : v)
        .filter((v,i) => v !== "00" || i > 0)
        .join(":")
}

    const interval= setInterval(()=>{
        if (timerCounter <=1){
            window.location.href="{{url_for('excercise')}}";
            clearInterval(interval);
        }
        timerCounter = timerCounter - 1;
        timerElement.innerText = secondsToHMS(timerCounter);
        progressBar.value = timerCounter;

    },1000);



    </script>

</body>
</html>
{% endblock %}